@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.app-container {
  width: 250px;
  height: 100px;
  margin: 20px;
  background: #f0f0f0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
