.container-nova-movimentacao {
  width: 100%;
  min-height: 100vh;
  padding: 0 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-nova-movimentacao .container-card {
  width: 100%;
  max-width: 1120px;
  min-height: 500px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.container-nova-movimentacao .container-card .cadastro-info {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container-nova-movimentacao .container-card .cadastro-info img {
  max-width: 200px;
  margin-bottom: 20px;

  opacity: 0.7;
}

.container-nova-movimentacao .container-card .cadastro-info p {
  text-align: center;
  margin: 20px 0;
}

.container-nova-movimentacao .container-card .cadastro-info a {
  font-weight: 500;
  color: rgb(39, 0, 39);
  text-decoration: none;
  transition: all 0.5s;
}

.container-nova-movimentacao .container-card .cadastro-info a:hover {
  opacity: 0.8;
  text-shadow: none;
}

.container-nova-movimentacao .container-card .form {
  width: 100%;
  max-width: 400px;
}

.container-nova-movimentacao .container-card .form form .descricao {
  width: 100%;
  max-width: 380px;
  display: flex;
  margin: auto;
}

.container-nova-movimentacao .container-card .form .grupo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container-nova-movimentacao .container-card .form .grupo select,
.container-nova-movimentacao .container-card .form .grupo input,
.container-nova-movimentacao .container-card .form .grupo .react-select {
  width: 100%;
  max-width: 180px;
  margin-top: 20px;
  height: 40px;
}

.container-nova-movimentacao .container-card .form form button {
  width: 180px;
  padding: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;

  display: flex;
  justify-content: center;
}
