.container-dashboard {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container-dashboard .container-movimentacoes {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
}

.container-dashboard .container-movimentacoes button {
  width: 180px;
  height: 100px;
  margin: 16px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

