* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  color: rgb(39, 0, 39);
  text-shadow: 1px 1px 2px lightblue;
}

p {
  margin: 6px 0;
}

input, select, button {
  width: 100%;
  height: 40px;
  margin: 6px 0;
  font-size: 18px;
  border-radius: 8px;
  border:2px solid #836fff;
  color: rgb(54, 0, 92);
  padding-left: 8px;
  padding-top: auto;
  cursor: pointer;
  transition: all 0.5s;
}

input:hover, select:hover, button:hover {
  border-color: #4B0082;
  color: #4B0082;
}

.card {
  width: fit-content;
  height: fit-content;
  margin: 5px;
  background: #836fff;
  padding: 10px;
  box-shadow: 0 0 100px rgba(138, 43, 226, 0.4);
  border-radius: 8px;
}
